@using Emso.WebUi.Properties

<div class="container">
   <div class="emso-trend-wrapper">
      <div class="row">
         <div class="col-md-3">
            <table class="table table-striped small">
               <tr>
                  <td>
                     <div class="text-capitalize text-muted small">&copy; 2016 embedded solutions. @(Resources.AllRightsReserved).</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
            </table>
         </div>
         <div class="col-md-3">
            <table class="table table-striped small">
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
            </table>
         </div>
         <div class="col-md-3">
            <table class="table table-striped small">
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
            </table>
         </div>
         <div class="col-md-3">
            <table class="table table-striped small">
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a href="#" class="small">Link 1</a>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</div>