<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<configSections>
        <section name="trackerBird" type="FullClassName, ReferenceAsembly" />
    </configSections>
    <trackerBird buildNumber="1"
                 callhomeUrl="http://74743.tbnet1.com"
                 productId="2389188160"
                 productVersion="1.0.0"
                 multipleSessionsEnabled="false" />-->
</configuration>