<?xml version="1.0"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false"/>
        <roleService enabled="true"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <membership defaultProvider="SampleMembershipProvider">
      <providers>
        <add name="SampleMembershipProvider" type="AppServices.SampleMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SampleRoleProvider">
      <providers>
        <add name="SampleRoleProvider" type="AppServices.SampleRoleProvider"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>