<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="CarRentalService.svc"
             service="Wrox.CarRentalService.Implementations.Europe.CarRentalService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="Wrox.CarRentalService.Implementations.Europe.CarRentalService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Wrox.CarRentalService.Contracts.ICarRentalService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
