<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TranslateProductDescriptions">
        <endpoint 
            address="http://localhost:8082/HQLocalizationService/TranslateProductDescriptions" 
            binding="webHttpBinding"
            contract="ITranslateProductDescriptions" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
