<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Wrox.CarRentalService.Implementations.Europe.CarRentalService">
        <endpoint address="http://localhost:8080/CarRentalService"
                  binding="basicHttpBinding"
                  contract="Wrox.CarRentalService.Contracts.ICarRentalService">          
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
