<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Поставщик -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- Строка подключения
    <add key="cnStr" value="Data Source=Hi-Tech-PC;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False"/> -->
  </appSettings>
  <!-- Строки подключения -->
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=Hi-Tech-PC;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=(local)\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>