<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6800/AuthWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthWebServiceSoap"
                contract="AuthService.AuthWebServiceSoap" name="AuthWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
