<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="northwind"
             connectionString="Data Source=DEVELOPER\DWINNER;Initial Catalog=NORTHWND;Persist Security Info=True;User ID=dwin;Password=3680251am" />
    </connectionStrings>
</configuration>