<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <system.web>
    <httpHandlers>
      <!-- the remove tag is for sample purpose only -->
      <remove path="*.svc" verb="*"/>
      <!-- 
        you can find the following handler declaration in the default web.config file 
        the file is located in %windir%\Microsoft.NET\Framework\v4.0.30128\Config\web.config for .NET Framework 4.0 
      -->
      <add path="*.svc" 
           verb="*" 
           type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
           validate="false" />
    </httpHandlers>      
  </system.web>
</configuration>
