<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />

        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="standart" varyByParam="none" varyByCustom="formdata"
                         duration="60" location="Any" />
                </outputCacheProfiles>
            </outputCacheSettings>            
            <!-- Регистрация специальной реализации кеша вывода -->
            <outputCache defaultProvider="AspNetInternalProvider"
                         enableFragmentCache="true"
                         enableOutputCache="true"
                         sendCacheControlHeader="false">
                <providers>
                    <add name="custom" type="CachingOutput.CustomOutputCache"/>
                </providers>
            </outputCache>
        </caching>
    </system.web>

    <!-- Регистрация фабрики обработчиков для кэширования *.ashx-файлов -->
    <system.webServer>
        <handlers>
            <add name="CachingFactory" path="*.ashx" verb="GET"
                 type="CachingOutput.CachingHandlerFactory" />
        </handlers>
    </system.webServer>

</configuration>