<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <authentication mode="Forms">
            <forms timeout="120" loginUrl="/Account/Login.aspx"
                   defaultUrl="/Default.aspx">
            </forms>
        </authentication>
        <roleManager enabled="true" cacheRolesInCookie="false"
                     defaultProvider="Static">
            <providers>
                <add name="Static" type="AuthUsers.StaticRoleProvider" />
            </providers>
        </roleManager>
        <authorization>
            <allow roles="users" />
            <deny users="*" />
        </authorization>
    </system.web>

    <system.webServer>
        <modules>
            <add name="auth" type="AuthUsers.AuthModule" />
        </modules>
    </system.webServer>

    <location path="Admin">
        <system.web>
            <authorization>
                <allow roles="admins" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="Admin/Open.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    
    <!-- Политика авторизации для маршрутизируемого URL (Не рекомендуется!) -->
    <!--<location path="restricted">
        <system.web>
            <authorization>
                <allow roles="admins"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>-->

</configuration>