<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="EmsoHrEntities"
             connectionString="metadata=res://*/EmsoHrModel.csdl|res://*/EmsoHrModel.ssdl|res://*/EmsoHrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=E011\E011_INSTANCE;Initial Catalog=EmsoHr;Persist Security Info=True;User ID=sa;Password=3680251am;MultipleActiveResultSets=True;App=EntityFramework&quot;"
             providerName="System.Data.EntityClient"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="IdentityDb"
             connectionString="Data Source=E011\E011_INSTANCE;Initial Catalog=EmsoHr;Persist Security Info=True;User ID=sa;Password=3680251am"
             providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
        
    <system.web>
        <compilation xdt:Transform="Replace" debug="false" />
    </system.web>
</configuration>