<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SportsStore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <location path="Pages/Admin">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>

    <connectionStrings>
        <add name="SportsStoreDatabaseContext"
             connectionString="Data Source=DOTNET\DWINNER;Initial Catalog=SportsStore;Integrated Security=True;User ID=sa;Password=bboytronik1985_DWINNER"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    </entityFramework>

    <system.web>

        <authentication mode="Forms">
            <forms loginUrl="~/Pages/Login.aspx">
                <credentials passwordFormat="Clear">
                    <user name="admin" password="secret"/>
                </credentials>
            </forms>
        </authentication>

        <globalization culture="en-US" uiCulture="en-US" />
        <compilation debug="true" targetFramework="4.5.1" />
        <httpRuntime targetFramework="4.5.1" />
        <pages>
            <controls>
                <add tagPrefix="SportsStore" tagName="CatLinks" src="~/Controls/CategoryList.ascx" />
                <add tagPrefix="SportsStore" tagName="CartSummary" src="~/Controls/CartSummary.ascx" />
                <add tagPrefix="Sx" namespace="SportsStore.Controls" assembly="SportsStore"/>
            </controls>
        </pages>
    </system.web>

    <applicationSettings>
        <SportsStore.Properties.Settings>
            <setting name="PageSize" serializeAs="String">
                <value>4</value>
            </setting>
        </SportsStore.Properties.Settings>
    </applicationSettings>
</configuration>
