<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms" />
    <trace enabled="true" pageOutput="false" mostRecent="true" requestLimit="10" localOnly="true" traceMode="SortByTime"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="data source=(localDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/>
    <add name="RoomReservationEntities" connectionString="metadata=res://*/DataAccess.MeetingRoomModel.csdl|res://*/DataAccess.MeetingRoomModel.ssdl|res://*/DataAccess.MeetingRoomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RoomReservation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>