@model IEnumerable<DynamicSelectableList.Infrastructure.City>

<select id="city" name="City">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>