<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <system.serviceModel>
    <services>
      <service name="Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
        <endpoint address="Service"
                  binding="wsHttpBinding"
                  contract="IService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
