<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <customErrors mode="On" defaultRedirect="/DynamicFailure.aspx">
            <!-- Обработка 404 поступающих из ASP.NET -->
            <error statusCode="404" redirect="/NotFoundShared.aspx" />
        </customErrors>
    </system.web>

    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <!-- Обработка 404 поступающих из IIS -->
            <error statusCode="404" responseMode="ExecuteURL" path="/NotFoundShared.aspx" />
        </httpErrors>
        <!-- Регистрация модуля обработки ошибок -->
        <modules>
            <add name="ErrorLog" type="ErrorHandling.ErrorModule" />
        </modules>
    </system.webServer>

</configuration>