<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="Northwind"
             connectionString="Data Source=DEVELOPER\DWINNER;Initial Catalog=NORTHWND;Persist Security Info=True;User ID=dwin;Password=bboytronik1985" />
    </connectionStrings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />        
    </system.web>

</configuration>