<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ad425e1d-9d59-4f8b-ad5c-17baee331297" Publisher="CN=CN elements" Version="1.1.0.0" />
  <Properties>
    <DisplayName>MenuCard</DisplayName>
    <PublisherDisplayName>CN elements</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MenuCard.App">
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
            <DataFormat>Bitmap</DataFormat>
            <DataFormat>Uri</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="MENU card" Description="Sample app for Professional C# 2012" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="MENU" Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>