<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="routingBehavior"
          name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/routing"/>
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="basicHttpBinding"
                  name="requestReplyEndpoint"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="routingBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <routing filterTableName="routingTable" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="targetServiceBehavior">
          <routingTrace/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint name="HospitalServiceEndpoint" 
                address="net.tcp://localhost:9050/hospitalservice" 
                binding="netTcpBinding" 
                contract="*" 
                behaviorConfiguration="targetServiceBehavior" />
      <endpoint name="LabServiceEndpoint"
                address="net.tcp://localhost:9051/labservice"
                binding="netTcpBinding"
                contract="*"
                behaviorConfiguration="targetServiceBehavior" />
      <endpoint name="LabServiceBackupEndpoint"
                address="net.tcp://localhost:9050/hospitalservice"
                binding="netTcpBinding"
                contract="*"
                behaviorConfiguration="targetServiceBehavior" />
    </client>

<routing>
  
  <filters>
    <filter name="LabFilter" filterType="Action" filterData="http://healthcare/lab" />
    <filter name="HospitalFilter" filterType="Action" filterData="http://healthcare/hospital" />
  </filters>
      
      <filterTables>
        <filterTable name="routingTable">
          <add filterName="HospitalFilter" endpointName="HospitalServiceEndpoint"/>
          <add filterName="LabFilter" endpointName="LabServiceEndpoint" backupList="labBackupList"/>
        </filterTable>
      </filterTables>

      <backupLists>
        <backupList name="labBackupList">
          <add endpointName="HospitalServiceEndpoint"/>
        </backupList>
      </backupLists>
    </routing>

    <extensions>
      <behaviorExtensions>
        <add name="routingTrace"
             type="HealthRoutingService.Description.RoutingTraceEndpointBehavior, HealthRoutingService" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>