<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
      <add name="FormulaEntities" connectionString="metadata=res://*/FormulaModel.csdl|res://*/FormulaModel.ssdl|res://*/FormulaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VINEVCEV-PC\SQLEXPRESS;initial catalog=Formula1V1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>
</configuration>