@model string

@{
    Layout = null;
    ViewBag.Title = "Legacy Url";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<h2>@ViewBag.Title</h2>
    The Url requested was: @Model
</body>
</html>