<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ImageGalleryEntities" connectionString="metadata=res://*/Orm.ImageGalleryModel.csdl|res://*/Orm.ImageGalleryModel.ssdl|res://*/Orm.ImageGalleryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DOTNET\DWINNER;initial catalog=ImageGallery;user id=sa;password=bboytronik1985_DWINNER;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>