<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <add key="TestSuitesDir" value="TestSuites" />
        <add key="DefaultSettingsFileName" value="Settings.xml" />
        <add key="LogFolder" value="Logs" />
        <add key="EtalonLogFolder" value="EtalonLogs" />
        <add key="VivaLogs" value="VivaLogs" />
        <add key="SrcEtalonFolder" value="src_etalon" />
        <add key="EtalonPvsSettingsFile" value="Settings.xml.Viva64SelfTester" />
        <add key="CurrentPvsLicenseFile" value="PVS-Studio.lic" />
        <add key="CppCatCompatibleConfigFile" value="Settings.xml.CppCat.Tester" />
        <add key="CppCatSettingsDir" value="CppCat" />
        <add key="CppCatSettingsFile" value="Settings.xml" />
        <add key="BackupSuffix" value=".bak" />
        <add key="TempSuffix" value=".temp" />
        <add key="PvsStudioSettingsDir" value="PVS-Studio" />
        <add key="BackupPvsLicenseFileName" value="PVS-Studio.lic.bak" />
        <add key="CurrentPvsSettingsFile" value="Settings.xml" />
        <add key="BackupPvsSettings" value="Settings.xml.bak" />
        <add key="DefaultEtalonLogFileExtension" value=".plog" />
        <add key="BldSrvEtalonsFolder" value="\\Viva64-build\SelfTester_setup\EtalonLogs\"/>
        <add key="ConcurrentTestRunsNumber" value="4"/>
        <add key="MinRecommendedWorkingDiskSpace" value="4"/>
        <add key="HangTime" value="60" />
    </appSettings>
</configuration>