<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="EmailRecipients" type="Emso.Configuration.RecipientsConfigSections, Emso.Configuration"/>
        <section name="EmailCredentials" type="Emso.Configuration.EmailCredentialsSection, Emso.Configuration"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <EmailRecipients>
        <Recipients>
            <add displayName="Denis Vinevtsev" address="vinevtsev@schleissheimer.de"/>
            <add displayName="Natalia Natesova" address="natesova@schleissheimer.de"/>
        </Recipients>
    </EmailRecipients>
    <EmailCredentials fromAddress="noreply@viva64.com" fromDisplayName="Human resource" mailLogin="u388423" mailPassword="2853a0ad1jk" smtpServerName="smtp-19.1gb.ru" smtpPort="25"/>
</configuration>
