<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="EmailRecipients" type="CustomConfigSectionSample.RecipientsConfigSections, CustomConfigSectionSample"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <EmailRecipients>
        <Recipients>
            <add displayName="Denis Vinevcev" address="vinevcev@viva64.com"/>
            <add displayName="Andrey Karpov" address="karpov@viva64.com"/>
            <add displayName="Evgeniy Ryzhkov" address="evg@viva64.com"/>
            <add displayName="Paul Eremeeff" address="eremeev@viva64.com"/>
        </Recipients>
    </EmailRecipients>
</configuration>