<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="microsoft.scripting" 
             type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <microsoft.scripting>
    <languages>
      <language names="IronPython,Python,py"
                extensions=".py"
                displayName="IronPython 2.0 Beta"
                type="IronPython.Runtime.PythonContext,IronPython, Version=2.6.10920.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

      <language names="IronRuby;Ruby,rb"
                extensions=".rb"
                displayName="IronRuby 1.0 Alpha"
                type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
                
      <language names="Stitch"
                extensions=".st"
                displayName="Stitch 1.0"
                type="Stitch.StitchContext, Stitch, Version=1.0.0.0, Culture=neutral" />

    </languages>
    <options>
      <set option="plugin" language="Stitch" value="PowerShellStitchPlugin.PowerShellPlugin, PowerShellStitchPlugin, Version=1.0.0.0, Culture=neutral" />
      <set option="executionMode" language="Stitch" value="ParallelNoWait" />
    </options>
  </microsoft.scripting>
</configuration>