<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="CarManagementService.CarManagementImpl">
                <endpoint address="http://localhost:9876/CarManagementService"
                          binding="wsHttpBinding"
                          bindingConfiguration=""
                          contract="CarManagementInterface.ICarManagement" />
            </service>
            <service name="CustomerService.CustomerServiceImpl">
                <endpoint address="http://localhost:9876/CustomerService"
                          binding="wsHttpBinding"
                          bindingConfiguration=""
                          contract="CustomerInterface.ICustomer" />
            </service>
            <service name="RentalService.RentalServiceImpl">
                <endpoint address="http://localhost:9876/RentalService"
                          binding="wsHttpBinding"
                          bindingConfiguration=""
                          contract="RentalInterface.IRental" />
            </service>
            <service name="ExternalInterfaceFacade.ExternalInterfacefacadeImpl">
                <endpoint address="http://localhost:9876/ExternalInterfaceService"
                          binding="wsHttpBinding"
                          bindingConfiguration=""
                          contract="ExternalInterface.IExternalInterface" />
            </service>
        </services>
    </system.serviceModel>
</configuration>