@using Users.Models
@model AppUser
@{ ViewBag.Title = "User properties"; }

<div class="panel panel-primary">
    <div class="panel-heading">
        Custom User Properties
    </div>
    <table class="table table-striped">
        <tr>
            <th>City</th>
            <th>@Model.City</th>
        </tr>
        <tr>
            <th>Country</th>
            <th>@Model.Country</th>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>City</label>
        @Html.EnumDropDownListFor(user => user.City) @*@Html.DropDownListFor(user => user.City, new SelectList(Enum.GetNames(typeof(Cities))))*@
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
}