<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    
    <httpRuntime
      requestValidationMode="4.5" targetFramework="4.5"
      encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <pages controlRenderingCompatibilityVersion="4.5"/>
    
    <machineKey compatibilityMode="Framework45"/>

    <!-- Хранение сеанса на сервере состояния сеансов aspnet_state.exe -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:16286"
                  sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
                  cookieless="false" timeout="20">      
    </sessionState>
    
    <!-- Хранение данных сеанса в выделенной БД
    <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:16286"
                  sqlConnectionString="Data Source=(localdb)\Projects;Initial Catalog=aspnetdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
                  cookieless="false" timeout="20">
    </sessionState>-->
    
  </system.web>    
  
</configuration>