<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="SqlServerProfiles"
         connectionString="Data Source=(localdb)\Projects;Initial Catalog=aspnetdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <anonymousIdentification enabled="true"/>

    <!-- Профиль пользователя -->
    <profile defaultProvider="SqlProvider">

      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="SqlServerProfiles"
             applicationName="UserProfiles"/>
      </providers>

      <properties>
        <group name="Address">
          <add name="AddressInfo" type="UserAddress" serializeAs="Binary"/>
          <add name="TotalPost" type="System.Int32" allowAnonymous="true" defaultValue="0"/>
        </group>
      </properties>

    </profile>

  </system.web>

</configuration>