<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <system.web>
      <compilation debug="true" />
   </system.web>
   <system.serviceModel>
      <services>
         <service name="SyndicationService.FormulaFeed">
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8732/Design_Time_Addresses/SyndicationService/" />
               </baseAddresses>
            </host>
            <endpoint contract="SyndicationService.IFormulaFeed" address="Feed1" binding="webHttpBinding"
                      behaviorConfiguration="SyndicationService.Feed1Behavior" />
         </service>
      </services>
      <behaviors>
         <endpointBehaviors>
            <behavior name="SyndicationService.Feed1Behavior">
               <webHttp />
            </behavior>
         </endpointBehaviors>
      </behaviors>
   </system.serviceModel>
   <connectionStrings>
      <add name="FormulaEntities"
           connectionString="metadata=res://*/FormulaModel.csdl|res://*/FormulaModel.ssdl|res://*/FormulaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VINEVCEV-PC\SQLEXPRESS;initial catalog=Formula1V1;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
           providerName="System.Data.EntityClient" />
   </connectionStrings>
</configuration>