<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="profileDb"
             connectionString="Data Source=DEVELOPER\DWINNER;Initial Catalog=Aspnetdb;Persist Security Info=True;User ID=sa;Password=bboytronik1985_DWINNER"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />

        <!-- Конфигурация профилей -->
        <profile defaultProvider="profileDb">
            <providers>
                <add name="profileDb" connectionStringName="profileDb"
                     type="System.Web.Profile.SqlProfileProvider" />
            </providers>
            <properties>
                <add name="counter" type="int" />
            </properties>
        </profile>

        <!-- Использование сервера состояний для сеанса -->
        <sessionState timeout="60" mode="StateServer"
                      stateConnectionString="tcpip=localhost:42424" />

        <!-- Использование базы данных для сеанса: aspnet_regsql -S "(localdb)\v11.0" -E -ssadd -sstype p -->
        <!--<sessionState   timeout="60" mode="SQLServer" allowCustomSqlDatabase="true"
                        sqlConnectionString="Data Source=(localdb)\v11.0;Initial Catalog=ASPState;Integrated Security=True" />-->

        <pages enableViewState="true" enableViewStateMac="true" viewStateEncryptionMode="Auto" />
    </system.web>

    <system.webServer>
        <modules>
            <add name="StateModule" type="State.StateModule"/>
        </modules>
    </system.webServer>

</configuration>