<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors />
        <bindings>
            <netTcpBinding>
                <binding name="tcpEP" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDemoService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/RoutingDemo/router"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDemoService"
                contract="Routing.DemoService.IDemoService" name="WSHttpBinding_IDemoService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9010/RoutingDemo/HostA"
                binding="netTcpBinding" bindingConfiguration="tcpEP" contract="DemoSrvRef.IDemoService"
                name="tcpEP">
                <identity>
                    <userPrincipalName value="Developer\Денис" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>