<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <system.serviceModel>
    <services>
      <service name="Service">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/Service.svc"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="ServiceNetTcp"
                  contract="IService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceNetTcp">
          <security mode="TransportWithMessageCredential"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
