<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BingPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.search.live.net:80/soap.asmx" binding="basicHttpBinding"
                bindingConfiguration="BingPortBinding" contract="ServiceReference1.BingPortType"
                name="BingPort" />
        </client>
    </system.serviceModel>
</configuration>