@model WebApiServices.Models.Reservation

<div class="panel-heading">
    Create Reservation
</div>
<div class="panel-body">
    @*@using (Html.BeginForm("Add", "Home"))
    {
        <div class="form-group">
            <label>Client name</label>
            @Html.TextBoxFor(reservation => reservation.ClientName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Location</label>
            @Html.TextBoxFor(reservation => reservation.Location, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    }*@
</div>