<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    </appSettings>
    <system.web>
      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <pages controlRenderingCompatibilityVersion="4.5" />
      <machineKey compatibilityMode="Framework45" />
     
    </system.web>
  <system.webServer>
    <handlers>
      <add name="SampleHandler" verb="*"
           path="CallSampleHandler" type="Wrox.ProCSharp.ASPNETCore.SampleHandler, HandlerSample" />
      <add name="InfoHandler" verb="GET" path="InfoHandler.axd"
           type="Wrox.ProCSharp.ASPNETCore.InfoHandler, HandlerSample"/>
    </handlers>
    <modules>
      <add name="SampleModule" type="Wrox.ProCSharp.ASPNETCore.SampleModule, ModuleSample" />
    </modules>
  </system.webServer>
  <applicationSettings>
    <WebApp.Properties.Settings>
      <setting name="AllowedIP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>127.0.0.1</string>
            <string>10.10.0.20</string>
          </ArrayOfString>
        </value>
      </setting>
    </WebApp.Properties.Settings>
  </applicationSettings>
</configuration>
