<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <system.serviceModel>
    <services>
      <service name="Service">
        <endpoint address="http://localhost:8080/Service/"
                  binding="wsHttpBinding"
                  contract="IService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
