@page
@{
    ViewBag.Title = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>This sample is part of the <a href="https://apress.com/">Pro Microservices in .NET 10</a> book.</p>
</div>
