<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="RoutingServiceBehavior" name="System.ServiceModel.Routing.RoutingService">
      
        
        
        
        
        
        
        <endpoint address="http://localhost:9874/Router" binding="wsHttpBinding" name="RoutingServiceEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
      </service>
    </services>

    <behaviors>
      
      
      
      
      
      <serviceBehaviors>
        <behavior name="RoutingServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <routing filterTableName="routingRules" routeOnHeadersOnly="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <routing>
      <filters>
        <filter name="Filter_CustomerCountryCode_AR" filterType="XPath" filterData="boolean(//*[local-name()= 'CustomerCountryCode']/text() = 'AR')"/>
        <filter name="Filter_CustomerCountryCode_BE" filterType="XPath" filterData="boolean(//*[local-name()= 'CustomerCountryCode']/text() = 'BE')"/>
      </filters>
      <filterTables>
        <filterTable name="routingRules">
          <add filterName="Filter_CustomerCountryCode_AR" endpointName="ArgentinaEndpoint"/>
          <add filterName="Filter_CustomerCountryCode_BE" endpointName="BelgiumEndpoint"/>
        </filterTable>
      </filterTables>

    </routing>

    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="" contract="*" address="http://localhost:9874/ArgentinaHost" name="ArgentinaEndpoint" kind="" endpointConfiguration="">

      </endpoint>
      <endpoint binding="netTcpBinding" bindingConfiguration="" contract="*" address="net.tcp://localhost:9871/BelgiumBranch" name="BelgiumEndpoint" kind="" endpointConfiguration="">

      </endpoint>

    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
