<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleWebServiveSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19753/SimpleMathService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SimpleWebServiveSoap"
                contract="ServiceRef.SimpleWebServiveSoap" name="SimpleWebServiveSoap" />
        </client>
    </system.serviceModel>
</configuration>