<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UserId" value="" /><!--your live id here-->
    <add key="SecureAccountId" value="" /><!--your secure account id here-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
