<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEightBall" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="WorkflowControlNetTcpBinding" transactionFlow="true">
                    <security>
                        <transport protectionLevel="Sign" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEightBall" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MagicEightBallService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEightBall" contract="ServiceReference.IEightBall"
                name="BasicHttpBinding_IEightBall" />
            <endpoint address="net.tcp://localhost:8099/MagicEightBallService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEightBall"
                contract="ServiceReference.IEightBall" name="NetTcpBinding_IEightBall">
                <identity>
                    <userPrincipalName value="Hi-Tech-PC\Hi-Tech" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
