<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Open_GL_ES_AppSample.Open_GL_ES_AppSample" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Open_GL_ES_AppSample"></application>
</manifest>