<?xml version="1.0"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NonTransactionalQueueBinding" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="Wrox.ProCSharp.Messaging.CourseOrderService">
                <endpoint address="net.msmq://localhost/private/CourseOrderQueue"
                          binding="netMsmqBinding" bindingConfiguration="NonTransactionalQueueBinding"
                          name="OrderQueueEP" contract="CourseOrderServiceContract.ICourseOrderService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>