<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.webServer>
        <modules>
            <add name="TotalTime" type="Handlers.TotalDurationModule"/>
        </modules>
        <handlers>
            <!-- Регистрация обработчиков -->
            <add name="CustomJson" path="*.json" verb="GET"
                 type="Handlers.CustomHandler" />
            <add name="CustomText" path="Time.text" verb="*"
                 type="Handlers.CustomHandler" />
            
            <!-- Регистрация фабрики обработчиков -->
            <add name="InstanceControl" path="*.instance" verb="*"
                 type="Handlers.InstanceControlFactory" />
            <add name="SelectionControl" path="*.select" verb="*"
                 type="Handlers.SelectionControlFactory" />
            <add name="Recycler" path="Recycle" verb="*"
                 type="Handlers.RecyclingFactory" />
            
            <!-- Переопределение встроенной фабрики обработчиков aspx-страниц -->
            <add name="SourceView" path="*.aspx" verb="GET"
                 type="Handlers.SourceViewer" />
        </handlers>
    </system.webServer>

</configuration>