<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
        <add name="FreelanceIdentityConnection"
             providerName="System.Data.SqlClient"
             connectionString="Data Source=VINEVCEV-PC\BTRONIK;Initial Catalog=FreelanceIdentity;Persist Security Info=True;User ID=dwinner;Password=3680251am" />
        <add name="EmailEntities"
             connectionString="metadata=res://*/Model.Edm.EmailModel.csdl|res://*/Model.Edm.EmailModel.ssdl|res://*/Model.Edm.EmailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VINEVCEV-PC\BTRONIK;Initial Catalog=FreelanceIdentity;Persist Security Info=True;User ID=dwinner;Password=3680251am;MultipleActiveResultSets=True;App=EntityFramework&quot;"
             providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.5">
            <assemblies>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5" />
        <authentication mode="Forms">
            <forms timeout="120" loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx"></forms>
        </authentication>
        <authorization>
            <allow roles="users, admins" />
            <deny users="*" />
        </authorization>
        <membership defaultProvider="DefaultMembershipProvider">
            <providers>
                <add connectionStringName="FreelanceIdentityConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" name="DefaultMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
            <providers>
                <add connectionStringName="FreelanceIdentityConnection" applicationName="/" name="DefaultRoleProvider" type="System.Web.Security.SqlRoleProvider" />
            </providers>
        </roleManager>
        <sessionState mode="InProc" />
    </system.web>
    <location path="Account">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <system.net>
        <mailSettings>
            <smtp from="noreply@viva64.com">
                <network host="smtp-19.1gb.ru" password="2853a0ad1jk" userName="u388423" />
            </smtp>
        </mailSettings>
    </system.net>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>