@using Gallery.Web.Properties
@model HandleErrorInfo

@{
   ViewBag.Title = Resources.ErrorTitle;
}

<hgroup class="title">
   <h1 class="error">@ViewBag.Title.</h1>
   <h2 class="error">@Resources.RequestErrorMessage.</h2>
</hgroup>
