<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Mobile.ViaWebForms.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
        div {
            margin-bottom: 10px;
        }

        span.message {
            font-size: xx-large;
        }
    </style>
    <asp:ContentPlaceHolder ID="HeadContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <asp:ContentPlaceHolder ID="MainContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    <div>Uses Site.Master</div>
</body>
</html>
