<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BingAppId" value="EBFj49I4kI7mJRB6GEIwuGkCADv27ekBp2O70wP2DOU"/>
    <add key="FlickrAppId" value="794b2125c44f83700508a95a55802744"/>
  </appSettings>
</configuration>