<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.runtime.remoting>
        <application name="HelloServer">            
            <service>
                <!-- Конфигурация поведения вызова объекта -->
                <wellknown mode="SingleCall" type="Configuration.Rmi.Hello, Configuration.Rmi" objectUri="Hi" />
                <!-- Тип для активации -->
                <activated type="Configuration.Rmi.Hello, Configuration.Rmi" />
            </service>
            <!-- Каналы -->
            <channels>
                <channel ref="http" port="6788" displayName="HTTP Channel (HelloServer)" />
                <channel ref="tcp" port="6789" displayName="TCP Channel (HelloServer)"
                         secure="true"
                         protectionLevel="EncryptAndSign"
                         impersonate="false">                    
                    <!-- Форматировщики -->
                    <serverProviders>
                        <provider ref="wsdl" />
                        <provider ref="soap" typeFilterLevel="Full" />
                        <provider ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                    <clientProviders>
                        <provider ref="binary" />
                    </clientProviders>
                </channel>
                <channel ref="ipc" port="myIPCPort" displayName="IPC Channel (HelloServer)" />
            </channels>
        </application>
        <debug loadTypes="true" />
    </system.runtime.remoting>
</configuration>