<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="Dwinner.Experience.Diagnostics"
              switchName="SimpleSourceSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="xmlListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               traceOutputOptions="LogicalOperationStack, Callstack"
               initializeData="./logs/mytrace.xml">
            <filter type="System.Diagnostics.SourceFilter"
                    initializeData="Warning" />
          </add>
          <add name="delimetedListener"
               type="System.Diagnostics.DelimitedListTraceListener"
               traceOutputOptions="DateTime, ProcessId"
               initializeData="./logs/mytrace.txt"/>
          <add name="textListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="textListener"
           type="System.Diagnostics.TextWriterTraceListener"
           traceOutputOptions="DateTime, ProcessId"
           initializeData="./logs/mytrace.log">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Dwinner.Experience.Diagnostics" />
      </add>
    </sharedListeners>
    <switches>
      <add name="SimpleSourceSwitch" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>