<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4464/SimpleWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SimpleWebServiceSoap"
                contract="SimpleWebServiceReference.SimpleWebServiceSoap"
                name="SimpleWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
